{% extends "/templates/shared/_layout.jinja2" %}

{% block content %}
    <div class="content">
        {% if first_name %}

            <h1> Welcome, {{ first_name }} {{ last_name }}</h1>

        {% else %}

            <h1> Welcome to your Account Page </h1>
            <p> Please complete your account information using the form below </p>
            <div></div>
            <form class='standard-form' action="" method="POST">
                <input name="first_name" required type="text" placeholder="First Name"><br>
                <input name="last_name" required type="text" placeholder="Last Name"><br>
                <button type="submit">Update Account</button>
            </form>

        {% endif %}

    </div>

{% endblock content %}