{% extends "/templates/shared/_layout.jinja2" %}

{% block content%}
<div class="content">

    <h1>Create an Account</h1>
    {% if error %}
    <div class="error-msg">Error: {{ error }}</div>
    {% endif %}
    <form class= 'standard-form' action="" method="POST">
        <input name="username" required type="text" value="{{ username }}" placeholder="User Name"><br>
        <input name="email" required type="email" value="{{ email }}" placeholder="E-Mail Address"><br>
        <input name="password" required type="password" value="{{ password }}" placeholder="Password"><br>
        <input name="confirm_password" required type="password" value="{{ confirm_password }}" placeholder="Confirm Password"><br>
        <button type="submit">Register</button>

    </form>

</div>
{% endblock content %}
